[submodule "bench/collections-c"]
	path = bench/collections-c
	url = https://github.com/formalsec/smt-collections-c.git
[submodule "bench/smt-comp"]
	path = bench/smt-comp
	url = https://github.com/formalsec/smt-comp.git
