available: arch != "arm32" & arch != "x86_32"
pin-depends: [
  ["colibri2.0.4.0" "git+https://git.frama-c.com/pub/colibrics.git#ae18d699b19e7967a81ccae6db454edfa968feae"]
  ["colibrilib.0.4.0" "git+https://git.frama-c.com/pub/colibrics.git#ae18d699b19e7967a81ccae6db454edfa968feae"]
  ["cvc5.~dev" "git+https://github.com/formalsec/ocaml-cvc5#main"]
]
