name: Build

on:
  pull_request:
    branches:
      - main
  merge_group:

jobs:
  lint:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/formalsec/ocaml-5.4
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        run: opam install -y ocamlformat

      - name: Run lint
        run: ./scripts/lint.sh

  build:
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        ocaml-compiler: ["4.14", "5.4"]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/formalsec/ocaml-${{ matrix.ocaml-compiler }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

        # Removes ·git to prevent opam from checking out submodueles
      - name: Remove .git
        run: rm -rf .git

      - name: Install dependencies
        run: opam install -y . --deps-only --with-test

      - name: Build
        run: dune build @install

      - name: Test
        run: dune runtest

  test-big-solver:
    needs: lint
    name: Test ${{ matrix.solver }}
    strategy:
      fail-fast: false
      matrix:
        solver: ["cvc5", "z3"]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/formalsec/ocaml-5.4-${{ matrix.solver }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

        # Removes ·git to prevent opam from checking out submodueles
      - name: Remove .git
        run: rm -rf .git

      - name: Install ${{ matrix.solver }}
        run: opam install -y . --deps-only --with-test

      - name: Build
        run: dune build @install

      - name: Test
        run: dune runtest

  test-small-solver:
    needs: lint
    name: Test ${{ matrix.solver }}
    strategy:
      fail-fast: false
      matrix:
        solver: ["alt-ergo-lib", "bitwuzla-cxx", "colibri2"]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/formalsec/ocaml-5.4
    steps:
      - name: Checkout
        uses: actions/checkout@v6

        # Removes ·git to prevent opam from checking out submodueles
      - name: Remove .git
        run: rm -rf .git

      - name: Install ${{ matrix.solver }}
        run: |
          opam install -y . --deps-only --with-test
          opam install ${{ matrix.solver }}

      - name: Build
        run: dune build @install

      - name: Test
        run: dune runtest
